$primary-color: #043353;
$secondary-color: #18a4e0;

$primary-text-color: #faf8f0;
$secondary-text-color: #d3dde6;

$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 28px;
$font-size-xxl: 32px;

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

$border-radius-sm: 12px;
$border-radius-md: 25px;
$border-radius-lg: 50px;

$box-shadow-sm: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
$box-shadow-md: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
