@import "styles/common.scss";

.Projects {
  &__overview {
    margin-top: $spacing-xl;

    &__content {
      margin-top: $spacing-lg;
    }
  }

  &__projectList {
    margin-top: $spacing-xl;

    &__heading {
      margin-bottom: $spacing-lg;
    }
  }
}
