@import "styles/common.scss";

.ExperienceCard {
  display: flex;
  padding: $spacing-md;
  background-color: $grey1;
  border-radius: $border-radius-sm;

  &__img {
    flex-grow: 1;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__details {
    flex-grow: 6;
    margin-left: $spacing-md;

    &__title {
      font-weight: 600;
    }
  }
}
