@import "styles/common.scss";

.Post {
  margin-top: $spacing-lg;

  &__title {
    font-weight: 500;
    font-size: $font-size-lg;
  }

  &__content {
    margin-top: $spacing-lg;
  }

  img {
    border-radius: $border-radius-sm;
    max-width: 80vw;
    height: auto;
  }
}
