@import "styles/common.scss";

.Home {
  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $spacing-xl;

    margin-top: $spacing-lg;

    &__intro {
      grid-column: 1 / span 2;

      &__heading {
        font-weight: 600;
        font-size: $font-size-xxl;
      }

      &__title {
        font-weight: 200;
        font-size: $font-size-md;
      }

      &__description {
        font-weight: 400;
        font-size: $font-size-md;
        margin-top: $spacing-md;
      }
    }

    @media screen and (max-width: 800px) {
      display: block;
    }
  }

  &__motivations {
    margin-top: $spacing-xxl;

    &__blocks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2 * $spacing-xl;
    }
  }

  &__moreAboutMe {
    margin-top: $spacing-xxl;

    &__blocks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2 * $spacing-xl;
    }
  }
}
