@import "styles/common.scss";

.Skills {
  &__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 160px;
      height: 160px;
      border-radius: $border-radius-round;
    }

    h3 {
      margin: $spacing-lg 0 $spacing-xxs;
    }
  }
}
